.form-section {
  min-height: 80vh;
  @include flex(center, center, row);
  margin-top: 5rem;
  form {
    padding: 3rem 10rem;
    box-shadow: 0px 10px 10px rgba($color: black, $alpha: 0.2),
      0px 20px 40px rgba($color: black, $alpha: 0.2);
    @include flex(center, center, column);
    border-radius: 2rem;
    background: white;

    input,
    textarea {
      margin: 2rem;
      width: 100%;

      &:focus {
        outline: 2px solid black;
      }
    }

    textarea {
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
    }
    button {
      width: 100%;
      background: $gradient;
      padding: 2rem;
      color: rgb(4, 4, 4);
      &:focus {
        background: rgb(41, 197, 119);
      }
    }
  }
}

/* animations */
#leafs {
  animation: leafs 8s ease forwards,
    plant-shake 5s infinite ease-in-out alternate-reverse 8s;
  transform-origin: bottom;
}
#lines {
  animation: lines 3s ease-in;
}

@keyframes leafs {
  from {
    transform: rotateZ(-30deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes lines {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}
