.main-head {
    width: 95%;
    margin: 0 0 0 auto;
}

nav{
    @include flex(space-between, center, row);
    min-height: 10vh;
    width: 60%;
    flex-wrap: wrap;

    .logo {
        @include flex(flex-start, center, row);
        flex:  1 1 10rem;
        h1{
            margin: 2rem;
        }
    }

    ul{
        @include flex(space-around, center, row);
        flex: 1 1 40rem;
    }
}

.intro{
    min-height: 80vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    @include flex(space-between, center, row);
    h2 {
        font-size: 6rem;
        margin-bottom: 2rem;
        padding-top: 2rem;
        background: $gradient ;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    h3{
        font-size: 3rem;
        padding: 2rem 0rem;
    }
    p{
        padding-top: 1.9rem;
        color: $grey-text;
    }
}

.splash {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    height: 100%;
    z-index: -1;
}
.intro-social{
    margin-top: 4rem;
    a{
        margin-right: 5rem;
    }
}

.active{
    background: $grey-text;
    color: white;
    padding: 1rem 3rem;
    border-radius: 2rem;
}
.intro-text, .intro-imges {
    flex: 1 1 40rem;
}


/* animation */


#fumes {
    animation: fumes 1.5s ease infinite alternate;
}

#fumes2 {
    animation: fumes 1.5s ease infinite alternate 0.5s;
}


#me{
    animation: me 3s ease infinite alternate;
    transform-origin: bottom;

}


@keyframes me{
    from{
        transform: rotateZ(-5deg);
    }
    to{
        transform: rotateZ(5deg);

    }
}

@keyframes fumes{
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-8%);

    }
}

/*  was on a diffrent photo that i changed
#clock-arrow{
    animation: clock 1.5s  infinite linear ;
    transform-box: fill-box;
    transform-origin: bottom;

}



@keyframes clock{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);

    }
}

*/